**/build/**

# Module_0*/ex*/**
# !Module_0*/ex*/*.cpp
# !Module_0*/ex*/**.hpp

Module_00/ex00/megaphone
Module_00/ex01/phonebook
Module_00/ex02/account
Module_01/ex00/zombie
Module_01/ex01/zombie
Module_01/ex02/zombie
Module_01/ex03/attack
Module_01/ex04/replace
Module_01/ex04/*.replace
Module_01/ex05/harl
Module_01/ex06/harlFilter
Module_02/ex00/fixed
Module_02/ex01/fixed
Module_02/ex02/fixed
Module_02/ex03/fixed
Module_03/ex00/claptrap
Module_03/ex01/scavtrap
Module_03/ex02/fragtrap
Module_03/ex03/diamondtrap
Module_04/ex00/animal
Module_04/ex01/animal
Module_04/ex02/abstract
Module_04/ex03/materia
